<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>FindStudent</servlet-name>
        <servlet-class>jdbcproj.controller.search.FindStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindTeacher</servlet-name>
        <servlet-class>jdbcproj.controller.search.FindTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindGroup</servlet-name>
        <servlet-class>jdbcproj.controller.search.FindGroup</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>DeleteGroup</servlet-name>
        <servlet-class>jdbcproj.controller.delete.DeleteGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudent</servlet-name>
        <servlet-class>jdbcproj.controller.delete.DeleteStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTeacher</servlet-name>
        <servlet-class>jdbcproj.controller.delete.DeleteTeacher</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddTeacher</servlet-name>
        <servlet-class>jdbcproj.controller.add.AddTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>jdbcproj.controller.add.AddStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGroup</servlet-name>
        <servlet-class>jdbcproj.controller.add.AddGroup</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>FindStudent</servlet-name>
        <url-pattern>/jsp/search/FindStudentServ.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindTeacher</servlet-name>
        <url-pattern>/jsp/search/FindTeacherServ.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindGroup</servlet-name>
        <url-pattern>/jsp/search/FindGroupServ.jsp</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>DeleteGroup</servlet-name>
        <url-pattern>/jsp/delete/DeleteGroupServ.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/jsp/delete/DeleteStudentServ.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTeacher</servlet-name>
        <url-pattern>/jsp/delete/DeleteTeacherServ.jsp</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AddTeacher</servlet-name>
        <url-pattern>/jsp/add/AddTeacherServ.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/jsp/add/AddStudentServ.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGroup</servlet-name>
        <url-pattern>/jsp/add/AddGroupServ.jsp</url-pattern>
    </servlet-mapping>
</web-app>